@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-surface-container-highest: #e0e3e6;
    --color-on-tertiary-fixed-variant: #623f11;
    --color-primary-fixed-dim: #a0ccea;
    --color-inverse-surface: #2d3133;
    --color-tertiary-fixed-dim: #f1bd83;
    --color-outline-variant: #c1c7cd;
    --color-tertiary-fixed: #ffddba;
    --color-on-secondary-fixed-variant: #574421;
    --color-tertiary: #613e0f;
    --color-on-error-container: #93000a;
    --color-secondary-fixed-dim: #dfc396;
    --color-on-tertiary: #ffffff;
    --color-on-primary-fixed: #001e2d;
    --color-surface: #f7f9fc;
    --color-inverse-primary: #a0ccea;
    --color-on-tertiary-fixed: #2b1700;
    --color-primary-fixed: #c5e7ff;
    --color-surface-container-high: #e6e8eb;
    --color-on-surface-variant: #41484d;
    --color-surface-container-low: #f2f4f7;
    --color-surface-tint: #36637d;
    --color-error: #ba1a1a;
    --color-secondary-container: #f9dcad;
    --color-on-secondary: #ffffff;
    --color-on-secondary-container: #755f3a;
    --color-on-background: #191c1e;
    --color-background: #f7f9fc;
    --color-outline: #71787d;
    --color-primary-container: #35627c;
    --color-on-primary: #ffffff;
    --color-inverse-on-surface: #eff1f4;
    --color-secondary-fixed: #fcdeb0;
    --color-primary: #194a63;
    --color-on-error: #ffffff;
    --color-surface-container: #eceef1;
    --color-surface-container-lowest: #ffffff;
    --color-on-surface: #191c1e;
    --color-on-primary-container: #b0dcfb;
    --color-surface-dim: #d8dadd;
    --color-on-tertiary-container: #ffcd98;
    --color-on-primary-fixed-variant: #1b4b64;
    --color-surface-bright: #f7f9fc;
    --color-error-container: #ffdad6;
    --color-secondary: #715b36;
    --color-tertiary-container: #7c5525;

    --font-headline: 'Manrope', sans-serif;
    --font-body: 'Plus Jakarta Sans', sans-serif;
    --font-label: 'Plus Jakarta Sans', sans-serif;
}

@layer base {
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
    .glass-header {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
}
